<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>
<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>
<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>
<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>
<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>
<li style="background-image: url('images/agenda-b.jpg'); ">
	<h3>Session Title Here</h3>
	<small>10:00 a.m</small>
	<div class="speeker-info">
		<div class="speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="speeker-details">
			<b>TOM JONES</b><br />
			Speeker Title
		</div>
	</div>
</li>