<div class="row favorite-container">
	<div class="col-xs-12 col-md-6">
		<div class="favorite-item speeker">
			<div class="col-xs-4 col-md-4">
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>TOM JONES</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-user-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-big"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6">
		<div class="favorite-item speeker">
			<div class="col-xs-4 col-md-4">
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>TOM JONES</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-user-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-big"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row favorite-container">
	<div class="col-xs-12 col-md-6">
		<div class="favorite-item session">
			<div class="col-xs-4 col-md-4">
				<div class="session-time">
					10:30am
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>Session Title Here</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-plus-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6">
		<div class="favorite-item session">
			<div class="col-xs-4 col-md-4">
				<div class="session-time">
					10:30am
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>Session Title Here</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-plus-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row favorite-container">
	<div class="col-xs-12 col-md-6">
		<div class="favorite-item session">
			<div class="col-xs-4 col-md-4">
				<div class="session-time">
					10:30am
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>Session Title Here</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-check-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6">
		<div class="favorite-item session">
			<div class="col-xs-4 col-md-4">
				<div class="session-time">
					10:30am
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>Session Title Here</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-check-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row favorite-container">
	<div class="col-xs-12 col-md-6">
		<div class="favorite-item speeker">
			<div class="col-xs-4 col-md-4">
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>TOM JONES</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-user-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-big"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6">
		<div class="favorite-item speeker">
			<div class="col-xs-4 col-md-4">
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-md-8">
				<div class="head">
					<h3>TOM JONES</h3>
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="inner-icon-bg icon-user-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-big"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
