<div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">{{page.title}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <div class="box-group" id="accordion">
        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="accordion box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Bills">
                Pay your Bills
              </a>
            </h4>
          </div>
          <div id="Bills" class="panel-collapse collapse in">
            <div class="box-body">
              here
            </div>
          </div>
        </div>
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="accordion box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Shopping">
                Online Shopping
              </a>
            </h4>
          </div>
          <div id="Shopping" class="panel-collapse collapse">
            <div class="box-body">
              here
            </div>
          </div>
        </div>
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="accordion box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Deals">
                Offers & Deals
              </a>
            </h4>
          </div>
          <div id="Deals" class="panel-collapse collapse">
            <div class="box-body">
              here
            </div>
          </div>
        </div>
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="accordion box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Remittance">
                Money Remittance
              </a>
            </h4>
          </div>
          <div id="Remittance" class="panel-collapse collapse">
            <div class="box-body">
              here
            </div>
          </div>
        </div>
    </div>
  </div>
</div>