<div class="row users">
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2 no-padding user">
		<a href="#">
			<img src="images/img_user01.jpg" class="img-responsive" />
			<div class="hover">
				<div class="content">
					SPEEKER NAME<br />
					SPEEKER TITLE
				</div>
			</div>
		</a>
	</div>
</div>