<div class="row speeker-row">
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row speeker-row">
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row speeker-row">
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row speeker-row">
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row speeker-row">
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 speeker-item">
		<div class="col-xs-12 col-md-6 no-padding speeker-img">
			<img src="images/img_user01.jpg">
		</div>
		<div class="col-xs-12 col-md-6 no-padding speeker-details">
			<div class="icon">
				
			</div>
			<div class="name">
				SPEEKER NAME<br />
				SPEEKER TITLE
			</div>
			<div class="rating">
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<div class="rating-val" style="width: 50%;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>