<div class="timeline main-agenda">
	<div class="timeline-item">
		<div class="col-xs-12 col-md-6 pull-{{defaultFloat}}">
			<div class="time">
				8:30 am
			</div>
		</div>
		<div class="col-xs-12 col-md-6 pull-{{oppositeDirection}}">
			<div class="timeline-content">
				<h3>Session Title Here</h3>
				<div class="rating-container">
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#" class="heart">
								<i class="inner-icon-bg icon-heart-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="add">
								<i class="inner-icon-bg icon-plus-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-item">
		<div class="col-xs-12 col-md-6 pull-{{oppositeDirection}}">
			<div class="time">
				10:30 am
			</div>
		</div>
		<div class="col-xs-12 col-md-6 pull-{{defaultFloat}}">
			<div class="timeline-content">
				<h3>Session Title Here</h3>
				<div class="rating-container">
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#" class="heart">
								<i class="inner-icon-bg icon-heart-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="add">
								<i class="inner-icon-bg icon-check-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-item">
		<div class="col-xs-12 col-md-6 pull-{{defaultFloat}}">
			<div class="time">
				8:30 am
			</div>
		</div>
		<div class="col-xs-12 col-md-6 pull-{{oppositeDirection}}">
			<div class="timeline-content">
				<h3>Session Title Here</h3>
				<div class="rating-container">
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#" class="heart">
								<i class="inner-icon-bg icon-heart-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="add">
								<i class="inner-icon-bg icon-plus-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-item">
		<div class="col-xs-12 col-md-6 pull-{{oppositeDirection}}">
			<div class="time">
				10:30 am
			</div>
		</div>
		<div class="col-xs-12 col-md-6 pull-{{defaultFloat}}">
			<div class="timeline-content">
				<h3>Session Title Here</h3>
				<div class="rating-container">
					<div class="rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<div class="rating-val" style="width: 50%;">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				<div class="actions">
					<ul>
						<li>
							<a href="#" class="heart">
								<i class="inner-icon-bg icon-heart-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="share">
								<i class="inner-icon-bg icon-share-small"></i>
							</a>
						</li>
						<li>
							<a href="#" class="add">
								<i class="inner-icon-bg icon-check-circle"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="speeker-info">
					<div class="speeker-img">
						<img src="images/img_user01.jpg">
					</div>
					<div class="speeker-details">
						<b>TOM JONES</b><br />
						Speeker Title
					</div>
				</div>
			</div>
		</div>
	</div>
</div>